@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Client/Scripts/atTheAlbum.js"></script>
    <script src="~/Client/Scripts/ListAlbum.js"></script>
    <script src="~/Client/Scripts/DetailsController.js"></script>
    }


<div data-ng-app="atTheAlbum">
    <ng-view></ng-view>
</div>