@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Client/Scripts/atTheAlbum.js"></script>
    <script src="~/Client/Scripts/ListAlbum.js"></script>
    }

<div ng-app="atTheAlbum">
    <div ng-controller="ListController">
       
        <table>
            <tr ng-repeat="album in albums">
                <td>{{album.Title}}</td>
            </tr>
        </table>
    </div>
</div>