@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Client/Scripts/atTheAlbum.js"></script>
    <script src="~/Client/Scripts/ListAlbum.js"></script>
    <script src="~/Client/Scripts/DetailsController.js"></script>
    <script src="~/Client/Scripts/albumService.js"></script>
    <script src="~/Client/Scripts/EditController.js"></script>
    }

<div>

</div>
<div data-ng-app="atTheAlbum" style="margin-top:50px;">
    <ng-view></ng-view>
</div>